In [1]:
import pandas as pd
import os

In [2]:
categories = pd.read_csv("../Extraction/Landing/categories/categories.csv")
categories

   category_id        category_name        Extraction_Date_Time Source
0            1    Children Bicycles  2024-05-03 23:35:20.331044     DL
1            2     Comfort Bicycles  2024-05-03 23:35:20.331044     DL
2            3    Cruisers Bicycles  2024-05-03 23:35:20.331044     DL
3            4  Cyclocross Bicycles  2024-05-03 23:35:20.331044     DL
4            5       Electric Bikes  2024-05-03 23:35:20.331044     DL
5            6       Mountain Bikes  2024-05-03 23:35:20.331044     DL
6            7           Road Bikes  2024-05-03 23:35:20.331044     DL

In [3]:
categories.isnull().sum()

category_id             0
category_name           0
Extraction_Date_Time    0
Source                  0
dtype: int64

In [4]:
categories.duplicated().sum()

0

In [5]:
file_path = '../Staging_1/categories/categories.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
categories.to_csv(file_path, index = False)