In [1]:
import pandas as pd
import os

In [2]:
orders = pd.read_csv("../Extraction/Landing/orders/orders.csv")
orders

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,Extraction_Date_Time,Source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-05-03 23:35:33.118721,DB
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-05-03 23:35:33.118721,DB
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-05-03 23:35:33.118721,DB
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-05-03 23:35:33.118721,DB
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-05-03 23:35:33.118721,DB
...,...,...,...,...,...,...,...,...,...,...
1610,1611,6,3,2018-09-06,2018-09-06,NaN,2,7,2024-05-03 23:35:33.118721,DB
1611,1612,3,3,2018-10-21,2018-10-21,NaN,1,3,2024-05-03 23:35:33.118721,DB
1612,1613,1,3,2018-11-18,2018-11-18,NaN,2,6,2024-05-03 23:35:33.118721,DB
1613,1614,135,3,2018-11-28,2018-11-28,NaN,3,8,2024-05-03 23:35:33.118721,DB
1614,1615,136,3,2018-12-28,2018-12-28,NaN,3,8,2024-05-03 23:35:33.118721,DB

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              1615 non-null   int64
 1   customer_id           1615 non-null   int64
 2   order_status          1615 non-null   int64
 3   order_date            1615 non-null   object
 4   required_date         1615 non-null   object
 5   shipped_date          1445 non-null   object
 6   store_id              1615 non-null   int64
 7   staff_id              1615 non-null   int64
 8   Extraction_Date_Time  1615 non-null   object
 9   Source                1615 non-null   object
dtypes: int64(5), object(5)
memory usage: 126.3+ KB

In [4]:
#fix any error in dataset before validate the data set in range 2000 t0 2024  
orders['order_date'].unique()

array(['2016-01-01', '2016-01-02', '2016-01-03', '1016-01-04',
       '1016-01-05', '1016-01-06', '2016-01-08', '2016-01-09',
       '2016-01-12', '2016-01-14', '2016-01-15', '2016-01-16',
       '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21',
       '2016-01-22', '2016-01-23', '2016-01-25', '2016-01-27',
       '2016-01-28', '2016-01-29', '2016-01-30', '2016-01-31',
       '2016-02-01', '2016-02-03', '2016-02-04', '2016-02-05',
       '2016-02-06', '2016-02-07', '2016-02-08', '2016-02-09',
       '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13',
       '2016-02-14', '2016-02-16', '2016-02-17', '2016-02-18',
       '2016-02-19', '2016-02-20', '2016-02-21', '2016-02-23',
       '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
       '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
       '2016-03-04', '2016-03-06', '2016-03-07', '2016-03-08',
       '2016-03-09', '2016-03-10', '2016-03-12', '2016-03-14',
       '2016-03-15', '2016-03-16', '2016-03-17', '2016-03-18',
       '2016-03-19', '2016-03-20', '2016-03-21', '2016-03-23',
       '2016-03-25', '2016-03-26', '2016-03-27', '2016-03-28',
       '2016-03-29', '2016-03-30', '2016-03-31', '2016-04-02',
       '2016-04-03', '2016-04-04', '2016-04-06', '2016-04-07',
       '2016-04-08', '2016-04-09', '2016-04-10', '2016-04-11',
       '2016-04-12', '2016-04-13', '2016-04-15', '2016-04-16',
       '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
       '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-27',
       '2016-04-28', '2016-04-30', '2016-05-01', '2016-05-03',
       '2016-05-04', '2016-05-05', '2016-05-06', '2016-05-07',
       '2016-05-08', '2016-05-10', '2016-05-11', '2016-05-12',
       '2016-05-13', '2016-05-15', '2016-05-17', '2016-05-19',
       '2016-05-20', '2016-05-21', '2016-05-22', '2016-05-24',
       '2016-05-25', '2016-05-26', '2016-05-27', '2016-05-28',
       '2016-05-29', '2016-05-30', '2016-06-01', '2016-06-02',
       '2016-06-03', '2016-06-04', '2016-06-05', '2016-06-06',
       '2016-06-08', '2016-06-09', '2016-06-10', '2016-06-11',
       '2016-06-12', '2016-06-13', '2016-06-15', '2016-06-16',
       '2016-06-17', '2016-06-18', '2016-06-19', '2016-06-20',
       '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-25',
       '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30',
       '2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
       '2016-07-07', '2016-07-09', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-23', '2016-07-24', '2016-07-25',
       '2016-07-26', '2016-07-28', '2016-07-29', '2016-07-31',
       '2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04',
       '2016-08-05', '2016-08-07', '2016-08-08', '2016-08-09',
       '2016-08-11', '2016-08-12', '2016-08-13', '2016-08-14',
       '2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18',
       '2016-08-19', '2016-08-20', '2016-08-21', '2016-08-22',
       '2016-08-23', '2016-08-25', '2016-08-26', '2016-08-27',
       '2016-08-28', '2016-08-29', '2016-08-30', '2016-08-31',
       '2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04',
       '2016-09-05', '2016-09-06', '2016-09-08', '2016-09-09',
       '2016-09-10', '2016-09-11', '2016-09-12', '2016-09-13',
       '2016-09-14', '2016-09-16', '2016-09-17', '2016-09-18',
       '2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22',
       '2016-09-23', '2016-09-24', '2016-09-25', '2016-09-26',
       '2016-09-27', '2016-09-28', '2016-09-29', '2016-09-30',
       '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
       '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
       '2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
       '2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
       '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-21',
       '2016-10-22', '2016-10-23', '2016-10-24', '2016-10-25',
       '2016-10-26', '2016-10-27', '2016-10-28', '2016-10-29',
       '2016-10-31', '2016-11-02', '2016-11-03', '2016-11-04',
       '2016-11-06', '2016-11-08', '2016-11-09', '2016-11-11',
       '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15',
       '2016-11-16', '2016-11-18', '2016-11-19', '2016-11-20',
       '2016-11-21', '2016-11-22', '2016-11-23', '2016-11-24',
       '2016-11-26', '2016-11-27', '2016-11-30', '2016-12-03',
       '2016-12-04', '2016-12-06', '2016-12-07', '2016-12-08',
       '2016-12-09', '2016-12-10', '2016-12-11', '2016-12-12',
       '2016-12-13', '2016-12-15', '2016-12-16', '2016-12-17',
       '2016-12-18', '2016-12-19', '2016-12-20', '2016-12-21',
       '2016-12-22', '2016-12-23', '2016-12-24', '2016-12-25',
       '2016-12-26', '2016-12-27', '2016-12-28', '2016-12-29',
       '2016-12-30', '2017-01-03', '2017-01-04', '2017-01-06',
       '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10',
       '2017-01-11', '2017-01-12', '2017-01-14', '2017-01-16',
       '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20',
       '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
       '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
       '2017-01-29', '2017-01-31', '2017-02-01', '2017-02-02',
       '2017-02-03', '2017-02-04', '2017-02-05', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10',
       '2017-02-11', '2017-02-13', '2017-02-14', '2017-02-15',
       '2017-02-16', '2017-02-18', '2017-02-19', '2017-02-20',
       '2017-02-21', '2017-02-25', '2017-02-26', '2017-02-27',
       '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03',
       '2017-03-04', '2017-03-05', '2017-03-06', '2017-03-07',
       '2017-03-08', '2017-03-09', '2017-03-11', '2017-03-12',
       '2017-03-13', '2017-03-15', '2017-03-16', '2017-03-18',
       '2017-03-19', '2017-03-20', '2017-03-22', '2017-03-23',
       '2017-03-24', '2017-03-26', '2017-03-27', '2017-03-28',
       '2017-03-29', '2017-03-30', '2017-03-31', '2017-04-01',
       '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
       '2017-04-06', '2017-04-07', '2017-04-09', '2017-04-11',
       '2017-04-12', '2017-04-13', '2017-04-14', '2017-04-15',
       '2017-04-16', '2017-04-17', '2017-04-18', '2017-04-19',
       '2017-04-20', '2017-04-21', '2017-04-22', '2017-04-23',
       '2017-04-24', '2017-04-25', '2017-04-27', '2017-04-28',
       '2017-04-29', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-06', '2017-05-07',
       '2017-05-08', '2017-05-09', '2017-05-11', '2017-05-13',
       '2017-05-14', '2017-05-15', '2017-05-16', '2017-05-18',
       '2017-05-19', '2017-05-20', '2017-05-21', '2017-05-22',
       '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26',
       '2017-05-27', '2017-05-28', '2017-05-29', '2017-05-30',
       '2017-05-31', '2017-06-02', '2017-06-03', '2017-06-05',
       '2017-06-07', '2017-06-09', '2017-06-10', '2017-06-11',
       '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15',
       '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
       '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
       '2017-06-24', '2017-06-25', '2017-06-26', '2017-06-27',
       '2017-06-30', '2017-07-02', '2017-07-04', '2017-07-06',
       '2017-07-07', '2017-07-09', '2017-07-11', '2017-07-12',
       '2017-07-13', '2017-07-14', '2017-07-15', '2017-07-16',
       '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-22',
       '2017-07-23', '2017-07-26', '2017-07-27', '2017-07-29',
       '2017-07-30', '2017-07-31', '2017-08-02', '2017-08-04',
       '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
       '2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
       '2017-08-14', '2017-08-15', '2017-08-16', '2017-08-17',
       '2017-08-18', '2017-08-19', '2017-08-20', '2017-08-21',
       '2017-08-22', '2017-08-23', '2017-08-24', '2017-08-25',
       '2017-08-26', '2017-08-27', '2017-08-28', '2017-08-29',
       '2017-08-31', '2017-09-01', '2017-09-02', '2017-09-03',
       '2017-09-04', '2017-09-05', '2017-09-06', '2017-09-07',
       '2017-09-08', '2017-09-10', '2017-09-11', '2017-09-12',
       '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-17',
       '2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21',
       '2017-09-22', '2017-09-23', '2017-09-24', '2017-09-25',
       '2017-09-27', '2017-09-28', '2017-09-29', '2017-09-30',
       '2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04',
       '2017-10-05', '2017-10-07', '2017-10-08', '2017-10-09',
       '2017-10-10', '2017-10-12', '2017-10-13', '2017-10-14',
       '2017-10-15', '2017-10-16', '2017-10-17', '2017-10-19',
       '2017-10-21', '2017-10-22', '2017-10-23', '2017-10-24',
       '2017-10-25', '2017-10-26', '2017-10-27', '2017-10-28',
       '2017-10-30', '2017-10-31', '2017-11-01', '2017-11-02',
       '2017-11-03', '2017-11-04', '2017-11-05', '2017-11-06',
       '2017-11-07', '2017-11-08', '2017-11-09', '2017-11-10',
       '2017-11-11', '2017-11-12', '2017-11-13', '2017-11-16',
       '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
       '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
       '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
       '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
       '2017-12-03', '2017-12-04', '2017-12-07', '2017-12-08',
       '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-14',
       '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-20',
       '2017-12-22', '2017-12-24', '2017-12-25', '2017-12-26',
       '2017-12-27', '2017-12-28', '2017-12-30', '2017-12-31',
       '1018-01-01', '1018-01-02', '2018-01-02', '2018-01-04',
       '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-09',
       '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13',
       '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17',
       '2018-01-19', '2018-01-20', '2018-01-21', '2018-01-22',
       '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
       '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30',
       '2018-02-01', '2018-02-02', '2018-02-05', '2018-02-06',
       '2018-02-07', '2018-02-08', '2018-02-09', '2018-02-11',
       '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
       '2018-02-16', '2018-02-17', '2018-02-18', '2018-02-19',
       '2018-02-21', '2018-02-23', '2018-02-25', '2018-02-26',
       '2018-02-27', '2018-03-01', '2018-03-03', '2018-03-04',
       '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08',
       '2018-03-10', '2018-03-11', '2018-03-14', '2018-03-15',
       '2018-03-16', '2018-03-17', '2018-03-18', '2018-03-19',
       '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23',
       '2018-03-24', '2018-03-25', '2018-03-26', '2018-03-27',
       '2018-03-28', '2018-03-29', '2018-03-30', '2018-03-31',
       '2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
       '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
       '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
       '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
       '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
       '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
       '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
       '2018-04-29', '2018-04-30', '2018-06-17', '2018-07-01',
       '2018-07-10', '2018-07-11', '2018-07-12', '2018-08-23',
       '2018-08-25', '2018-09-06', '2018-10-21', '2018-11-18',
       '2018-11-28', '2018-12-28'], dtype=object)

In [5]:
orders['order_date'] = orders['order_date'].str.replace('1016', '2016').str.replace('1018', '2018')

In [6]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [7]:
orders = orders[(orders['order_date'] >= '2000-01-01') & (orders['order_date'] <= '2024-12-31')]

In [8]:
#check the duplicates
orders.duplicated().sum()

0

In [9]:
#check the nulls
orders.isnull().sum()

order_id                  0
customer_id               0
order_status              0
order_date                0
required_date             0
shipped_date            170
store_id                  0
staff_id                  0
Extraction_Date_Time      0
Source                    0
dtype: int64

###### to fix the nulls in sgipped_date we can the use the avarge between required_date and shipped_date to get the most accurate sgipped_date

In [10]:
#fix the required_date and shipped_date to use them:
orders['required_date'] = orders['required_date'].str.replace('1016', '2016').str.replace('1018', '2018')
orders['required_date'] = pd.to_datetime(orders['required_date'])

In [11]:
orders['shipped_date'] = orders['shipped_date'].str.replace('1016', '2016').str.replace('1018', '2018')
orders['shipped_date'] = pd.to_datetime(orders['shipped_date'])

In [12]:
#to get the correct avg we need to ignore the nulls in shipped_date:
valid_shipped_orders = orders.dropna(subset=['shipped_date'])

In [13]:
average_diff = (valid_shipped_orders['shipped_date'] - valid_shipped_orders['required_date']).mean()
#to only get the days
average_diff_days = average_diff.days
average_diff_days

-1

In [14]:
orders['shipped_date'] = orders.apply(lambda row: row['required_date'] + pd.Timedelta(days=average_diff_days) 
                                      if pd.isnull(row['shipped_date']) else row['shipped_date'], axis=1)
orders.isnull().sum()

order_id                0
customer_id             0
order_status            0
order_date              0
required_date           0
shipped_date            0
store_id                0
staff_id                0
Extraction_Date_Time    0
Source                  0
dtype: int64

In [15]:
file_path = '../Staging_1/orders/orders.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
orders.to_csv(file_path, index = False)