In [1]:
import requests
import json
import pandas as pd
import os

In [2]:
response = requests.get("https://openexchangerates.org/api/latest.json", params={"app_id": "da8068e5517348edb53748c95e49e4c2"})

data = response.json()

df = pd.json_normalize(data)
df

,disclaimer,license,timestamp,base,rates.AED,rates.AFN,rates.ALL,rates.AMD,rates.ANG,rates.AOA,...,rates.XCD,rates.XDR,rates.XOF,rates.XPD,rates.XPF,rates.XPT,rates.YER,rates.ZAR,rates.ZMW,rates.ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1714766400,USD,3.67285,72.325815,93.5,387.814629,1.801552,837.5,...,2.70255,0.758709,609.389428,0.001059,110.860166,0.001048,250.349961,18.51255,26.963907,322

In [3]:
df = df.loc[: , ["timestamp", "base", "rates.EGP"]]

In [4]:
df = df.rename(columns={"rates.EGP": "EGP"})

In [5]:
df['Extraction_Date_Time'] = pd.Timestamp.now()
df["Source"] = "API"

In [6]:
df

    timestamp base      EGP       Extraction_Date_Time Source
0  1714766400  USD  47.9492 2024-05-03 23:35:41.990600    API

In [7]:
file_path = 'Landing/exchange/exchange.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
df.to_csv(file_path, index = False)